#https://editorconfig.org/

root = true

[*]
insert_final_newline = true

[*.{java,js}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{xml,yml}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.json]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.properties]
charset = utf-8
